.page-selector {
    height: 26px; /* Fixed value based on Figma for whole frame is w:42 */
    width: 333px; /* Fixed value based on Figma for whole frame is w:370 */
    background-color: var(--color-white);
    padding: 8px 15px 8px 22px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.page-selector span {
    display: grid;
    place-items: center;
    font-size: 14px;
    line-height: 18.2px;
}

.page-selector .checkbox div {
    height: 23px;
    width: 23px;
}

/* Default hover state */
.page-selector:hover .checkbox input[type="checkbox"] + div {
    border: 1px solid #BDBDBD;
}

.page-selector:hover .checkbox input[type="checkbox"] + div svg {
    opacity: 1;
}

.page-selector:hover .checkbox input[type="checkbox"] + div svg path {
    stroke: #E3E3E3;
}

/* Default pressing state */
.page-selector:active .checkbox input[type="checkbox"] + div {
    border: 1px solid #BDBDBD;
    outline: 3px solid #2469F619;
}

.page-selector:active .checkbox input[type="checkbox"] + div svg {
    opacity: 1;
}

.page-selector:active .checkbox input[type="checkbox"] + div svg path {
    stroke: #878787;
}

/* Checked hover state */
.page-selector:hover .checkbox input[type="checkbox"]:checked + div {
    background-color: #5087F8;
    border: none;
}

.page-selector:hover .checkbox input[type="checkbox"]:checked + div svg {
    opacity: 1;
}

.page-selector:hover .checkbox input[type="checkbox"]:checked + div svg path {
    stroke: #FFFFFF;
}

/* Checked pressing state */
.page-selector:active .checkbox input[type="checkbox"]:checked + div {
    background-color: #2469F6;
    outline: 3px solid #2469F619;
}

.page-selector:active .checkbox input[type="checkbox"]:checked + div svg {
    opacity: 1;
}

.page-selector:active .checkbox input[type="checkbox"]:checked + div svg path {
    stroke: #FFFFFF;
}